Repository shescoding/shescoding-dot-org, pull requests merged in 2018-11, with the labels that each got.

#157 Fix footer not positioned on bottom of page #54
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/layout.scss
Labels: HTML / CSS / Javascript, bug, hacktoberfest

#158 Fix nav toggle button
  app/assets/stylesheets/_variables.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/navbar.scss
Labels: HTML / CSS / Javascript, bug, hacktoberfest

#159 Test tag functionality
  spec/controllers/resources_controller_spec.rb
Labels: hacktoberfest, quality/tests

#160 Add margin bottom to prevent text being hidden behind footer on mobile
  app/assets/stylesheets/application.scss
Labels: HTML / CSS / Javascript, bug

#165 Update order on team page and add Kelli
  app/assets/images/team/kelli.jpeg
  app/assets/images/team/patrizia.jpeg
  app/views/static_pages/team.html.erb
Labels: HTML / CSS / Javascript, content update
