Repository shescoding/shescoding-dot-org, pull requests merged in 2018-12, with the labels that each got.

#162 Add testimonial section to main page
  app/assets/images/static_pages/testimonial_charissa.png
  app/assets/images/static_pages/testimonial_irina.png
  app/assets/javascripts/static_pages.js
  app/assets/javascripts/static_pages.js.coffee
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/static_pages.css.scss
  app/views/static_pages/front_page.html.erb
Labels: HTML / CSS / Javascript, enhancement

#166 Team page refactor: make data driven, remove not used css classes.
  app/assets/images/static_pages/google_groups_logo.png
  app/assets/images/team/christina.jpeg
  app/assets/images/team/pamela.jpeg
  app/assets/images/team/porsha.png
  app/assets/images/testimonials/testimonial_charissa.png
  app/assets/images/testimonials/testimonial_irina.png
  app/assets/javascripts/guides.js.coffee
  app/assets/stylesheets/team.css.scss
  app/controllers/static_pages_controller.rb
  app/views/static_pages/front_page.html.erb
  app/views/static_pages/team.html.erb
Labels: HTML / CSS / Javascript, bug

#171 README Instructions for Windows, Mac, and Ubuntu dev environments
  README.md
Labels: content update
